*{
    margin: 0px;
    padding: 0px; 
}
:root{
    --bg-color-primary: #121212;
    --bg-color-secondary:#888888;
    --text-color:#E0E0E0;
    --border:2px solid #B0B0B0;
    --border-radius:1rem;
}
body{
    background-color:var(--bg-color-primary);
    color:var(--text-color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;

}
section{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 100%; 

}
.info_bar
{
    width: 80%;
    height: 12%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top:20px;
}
.info{
    color:var(--text-color);
    background-color: var(--bg-color-primary);
    font-size: 1.4rem;
    font-weight: 700;
    padding: 5px;
    border: var(--border);
    border-radius: var(--border-radius);
    height: 70%;
}
.board{
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
    border: 1px solid #444444;
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));   
    
}
.block{
    border: 1px solid #444444;
    
}
.fillblock
{
    background-color: aliceblue;
}
.fillfood
{
    background-color: rgb(185, 36, 36);
}
.modal
{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .start-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.btn{
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3 ease;
}
.btn:hover{
    transform: scale(1.1);
}
.game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    

}
.modal .game-over
{
    display: none;
}